/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
   font-family: 'DM Sans', sans-serif;
   color: var(--secondary-white);
   background-color: var(--primary-dark-blue);
   font-size: 16px;
   letter-spacing: 0;
   font-weight: normal;
   line-height: 24px;
 }
 


